<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<app-navbar></app-navbar>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-11">
        <div class="card-container1">
          <div class="container">
            <mat-card class="example-card" >
              <mat-card-header>
                <mat-card-title> Matches</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>
              <br>
              <mat-card-content>
                <!-- Explore a diverse array of potential matches, spanning brides and grooms, to discover your ideal life partner at your fingertips Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, maiores? Reprehenderit officiis modi corporis, et alias consectetur odio optio eligendi dolores est ullam maiores nihil quasi non temporibus assumenda deleniti. -->
              
                "Explore our vast database of brides and grooms, with options tailored to your preferences."  
                "Discover a diverse range of potential partners, browse through profiles, and find the one who captures your heart."
                
                
                
                
                
                
                
              </mat-card-content>
            
             
            </mat-card>
            <mat-card class="example-card" >
              <mat-card-header>
                <mat-card-title> Schedule Meetings</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>
              <br>
              <mat-card-content>
                <!-- Explore a diverse array of potential matches, spanning brides and grooms, to discover your ideal life partner at your fingertips Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, maiores? Reprehenderit officiis modi corporis, et alias consectetur odio optio eligendi dolores est ullam maiores nihil quasi non temporibus assumenda deleniti. -->
                Effortlessly schedule meetings with your selected profiles, taking the next step towards finding your perfect match."
                "Coordinate rendezvous with ease by utilizing our intuitive scheduling feature, ensuring meaningful connections with your chosen prospects."
                "Plan your encounters conveniently with selected profiles, empowering you to nurture relationships and explore potential partnerships at your own pace."
                
                
                
                
                
                
                 </mat-card-content>
            
              
            </mat-card>
            <mat-card class="example-card" >
              <mat-card-header>
                <mat-card-title> Make Requests</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>
              <br>
              <mat-card-content>
                <!-- Explore a diverse array of potential matches, spanning brides and grooms, to discover your ideal life partner at your fingertips Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, maiores? Reprehenderit officiis modi corporis, et alias consectetur odio optio eligendi dolores est ullam maiores nihil quasi non temporibus assumenda deleniti. -->
              
"Easily initiate and approve meeting requests between users, fostering meaningful connections and facilitating seamless communication."
"Take charge of your matchmaking journey by sending and approving requests between profiles, empowering users to engage and connect on their own terms."
"Enable users to proactively initiate and approve requests, fostering a dynamic platform where relationships flourish through mutual consent and engagement."
</mat-card-content>
            

            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
