<!-- sidebar.component.html -->
<div class="sidebar" [ngClass]="{ 'open': isOpen }">
    <i class="bx {{ closeBtnIcon }}" (click)="toggleSidebar()"></i> 
  
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search..." />
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a routerLink="/admindashboard" href="#">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a  routerLink="/getmessage" href="#">
          <i class="bx bx-user-check"></i>
          <span class="links_name">Reply Queries</span>
        </a>
        <span class="tooltip">Reply Queries</span>
      </li>
      <li>
        <a  routerLink="/getusers" href="#">
          <i class="bx bx-user-x"></i>
          <span class="links_name">Manage User Profiles</span>
        </a>
        <span class="tooltip">Manage User Profiles</span>
      </li>
      <li>
        <a  routerLink="/adminupdate" href="#">
          <i class="bx bx-edit-alt"></i>
          <span class="links_name">Update Employee</span>
        </a>
        <span class="tooltip">Update Employee</span>
      </li>
      <li>
        <a  routerLink="/adminregister" href="#">
          <i class="bx bx-folder"></i>
          <span class="links_name">Add Employee</span>
        </a>
        <span class="tooltip">Add Employee</span>
      </li>
      <!-- <li>
        <a href="#">
          <i class="bx bx-cart-alt"></i>
          <span class="links_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-heart"></i>
          <span class="links_name">Saved</span>
        </a>
        <span class="tooltip">Saved</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="links_name">Setting</span>
        </a>
        <span class="tooltip">Setting</span>
      </li> -->
     
    </ul>
  </div>
  