/* Container settings */
.content-wrapper {
    display: flex;
    justify-content: center; /* Center the card horizontally */
    width: 100%;
    height: 80vh; /* Adjust height to your preference */
  }
  
  /* Outer card settings */
  .card {
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px; /* Add padding to ensure content inside the card has some space */
    background-color: #edd7adab;
  }

  
  /* Inner card settings */
  .card .card {
    margin: 0; /* Remove margin to make inner card fully contained */
    padding: 20px; /* Keep padding to ensure content inside inner card has some space */
    background-color: inherit; /* Inherit background color from outer card */
  }
  
  /* Table cell margin */
  td {
    margin: 10px;
    font-size: 15px;
   
  }
  
  #second {
    background-color: rgb(7, 7, 82);
  }
  
  label {
    color: goldenrod;
    font-size: 20px;
  }
  
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
  }
  thead{
    background-color: rgb(24, 26, 73);
    color:gold;
  }