
<!-- class="page-without-video-bg" -->
<body >
    <video autoplay muted loop id="background-video"  width="1425" height="790">
      <source src="../../../assets/background_video1.mp4"  type="video/mp4"> 
     
    </video>

    <video autoplay muted loop style="justify-content:center;margin-left:  530px;" width="300" height="300">
      <source src="../../../assets/bandhan_new.mp4"  type="video/mp4"> 
    </video>
  </body>
 


  <div class="greeting">
    <p class="greeting-text">
      Welcome to our <a href="#" class="bandhan-link">Bandhan</a> matrimonial platform.<br>
      Here, you can find your perfect partner.<br>
      We're dedicated to helping you discover meaningful connections.<br>
      Start your journey towards finding the one meant for you.
    </p>
  </div>   
  <div class="wrap">
            <a routerLink="/adminlogin" class="button">Admin Login </a>
            
          </div>

  <div class="card-container">
    <div class="card">
        
        
        <p>Excited to start your search for your life partner? Click on the 'Register' button to create your account and embark on your journey to find meaningful connections"</p>
        <div class="wrap">
          <a routerLink="/register" class="button">Register for free  </a>
        </div>
    </div>


    <div class="card">
       
        <p> Ready to find your soulmate? Simply click on the 'Login' button to access your account and begin your 
          journey towards discovering meaningful connections</p>
          <div class="wrap">
            <a routerLink="/login" class="button">Login </a>
          </div>
    </div>


</div>

  

  
   

   <!-- homecomponent.html -->
<!-- <div>
  <video autoplay muted loop id="background-video" width="1425" height="790">
    <source src="../../../assets/background_video1.mp4" type="video/mp4">
   
  </video>

  <video autoplay muted loop style="justify-content:center;margin-left: 530px;" width="300" height="300">
    <source src="../../../assets/bandhan_new.mp4" type="video/mp4">
   
  </video>

  <div class="greeting">
    <p class="greeting-text">
      Welcome to our <a href="#" class="bandhan-link">Bandhan</a> matrimonial platform.<br>
      Here, you can find your perfect partner.<br>
      We're dedicated to helping you discover meaningful connections.<br>
      Start your journey towards finding the one meant for you.
    </p>
  </div>

  <div class="card-container">
    <div class="card">
      <p>Excited to start your search for your life partner? Click on the 'Register' button to create your account and embark on your journey to find meaningful connections"</p>
      <div class="wrap">
        <button class="button">Register for free</button>
      </div>
    </div>

    <div class="card">
      <p>Ready to find your soulmate? Simply click on the 'Login' button to access your account and begin your journey towards discovering meaningful connections</p>
      <div class="wrap">
        <button router-link="/register" class="button">Login</button>
      </div>
    </div>
  </div>
</div>




 <!-- homecomponent.html -->

