<!-- bride-photos.component.html
<div class="card-container1">
  <div class="container">
  
     <mat-card class="example-card"  *ngFor="let item of combinedProfiles; let index = index" >
        <mat-card-header>
          <mat-card-title>  {{item.profile.name || item.nameProfile.name}}</mat-card-title>
          <mat-card-subtitle>{{item.profile.address || item.nameProfile.address}}</mat-card-subtitle>
        
        
          
        </mat-card-header>
        <br>
        
        <mat-card-content>
          <div class="meeting-detail">
            <span class="label"> Meeting Destination:</span>
            <span>New York City</span>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="meeting-detail">
            <span class="label">Meeting Date:</span>
            <span>2024-06-01</span>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="meeting-detail">
            <span class="label">Meeting Time:</span>
            <span>10:00 AM</span>
        </div>
        <br>
        <mat-divider></mat-divider>
      <br>
         
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>

      </div>
 


      
    
    
      
    
        
        

        
      
       -->

       <div class="card-container1">
        <div class="container">
          <mat-card class="example-card" *ngFor="let item of combinedProfiles; let index = index">
            <mat-card-header>
              <mat-card-title>{{item.profile.name || item.nameProfile.name}}</mat-card-title>
              <mat-card-subtitle>{{item.profile.address || item.nameProfile.address}}</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
              <div class="meeting-detail">
                <span class="label">Meeting Destination:</span>
                <span class="value">{{item.profile.place|| item.nameProfile.place}}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="meeting-detail">
                <span class="label">Meeting Date:</span>
                <span class="value">{{item.profile.date|| item.nameProfile.date}}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="meeting-detail">
                <span class="label">Meeting Time:</span>
                <span class="value">{{item.profile.time|| item.nameProfile.time}}</span>
              </div>
              <mat-divider></mat-divider>
            </mat-card-content>
            
            <mat-card-footer>
              <input type="submit"  value="Approve" (click)="approveMessage(item)">
              <!-- <button mat-button (click)="approveMessage(item)">APPROVE</button> -->
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
      